* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abril Fatface";
}

body {
    padding-top: 80px;
    opacity: 0;
    transition: opacity .5s;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

p {
    margin-bottom: 5px;
}